body { background-color: red }

.btn {
  display: inline-block;
  padding: 10px;
}

.btn-primary {
  background-color: #688bd2;
}

.btn-secondary {
  background-color: #ffbc5f;
}

.clearfix &:before, &:after {
  content: " ";
  display: table;
}

.clearfix &:after {
  clear: both;
}

.l-fixed-br {
  position: fixed;
  right: 0;
  bottom: 0;

  margin: 5px;
}
